.container1{
    background:  linear-gradient(0deg, #0c0d0f 0%, rgba(12,13,15,0) 100%),url('./imege2/Background.jpg'); 
    background-repeat: no-repeat;
width: 1100px;
height: 800px;
background-size:cover ;
margin: auto;
margin-top: 20PX;
position: relative;}

 
.navbar-manu{
    font-size: 16px;
line-height: 17px;
color: #ffffff;
font-weight: 400;
font-family: "Open Sans";
text-decoration:none;}

.text1 
{
    

color: #ffffff;
margin-top: 255px;
font-family: "Open Sans";
text-align: center;
}
.text2
{
margin-top: 41px;
font-size: 25px;
line-height: 40px;

color: #ffffff;
width: 600px;
font-family: "Open Sans";
margin: auto;


}
.btn{
    margin:auto ;
    text-decoration: none;
}

    
