body{
    background-image:url(imge/buneba2.jpg);
    margin: 0;
}
.nav{
    border-bottom: 1px solid #ffffff;
    display: flex;
    justify-content:space-between;
    padding: 30px;
}
.domain{
    color: #f5f5f5;
   margin-left:100px;
}
.menu{
    display: block;
    margin-left:70px;
}

.menu:hover .drop{
    position: absolute;
    display: block;
    width:100px;
    background-color: #2eef7bcf;
    opacity: 1;
    transition: all 1s;
   }
.menu a{
    color: #ffffff;
    text-decoration: none;
}

.home{
   display: flex;
   }
   .sign{
       display: flex;
       margin-left:20x;
     }
   #log{
      
       background-color:transparent;
       color: #ffffff;
       padding:0 20px;
       border-radius: 10px;
   }
   #log:hover{
       background-color: #ee81ee92;
       transition: all 1s;
       width: 150%;
}
   #up{
       background-color: #2585a790;
       color: #ffffff;
       padding:0 20px;
       border-radius: 10px;
   }
   #up:hover{
       background-color: #e8136893;
       transition: all 1s;
       width: 150%;
   }
     #log,#up{
        margin: 0 5px;
     }
     .drop{
         display: none;
        }
   .main{
       text-align: center;
       color: #f5f5f5;
       margin:150px auto;
}
#url{
    width:500px;
    height:30px;
    background-color:#335ee17d;
    margin:50px 0;
}
#url:hover{
    background-color: #670de499;
    transition: all 1s;
    width: 50%;
}
.checkbox{
    margin:80px auto;
    display: inline-block;
    color:#ffff00;
    }
    .com{
        margin-left:100px;
    }
   #green{
       background-color: #22fc22;
       border-radius: 10px;
       width: 150px;
       height: 40px;
   }
   #green:hover{
       background-color: #ff0066b1;
       transition: all 1s;
       width:20%;
}
   
   