
.container1
{ background-image: url('./imge/CALLAN.jpg');

    height: 400px;
    background-position:center;
    background: size 100px;
       position:relative;
        width: 500px;
    margin: 50px auto;}





.container
{background-color:rgba(24, 4, 4, 0.363);

width: 200px;
text-align: center;
height: 250px;
color: white;
left: 120px;
top: 60px;
position:absolute;
padding: 30px;
}


.mail 
{margin-bottom: 10px;
}

.password
{margin-bottom:  10px;
    
}
.button{background-color:rgb(66, 133, 66);
    margin-bottom:  10px;
width: 90%;}

.chek
{margin-bottom: 10px;

}

.chek:checked {color: red;}


.fb {
    background-color: #1850ca;
    color: white;
   text-decoration: none;
    margin: 5px;
    margin-top: 7px;
  }
  
  .twitter {
    background-color: #55ACEE;
    color: white;
    text-decoration: none;
    
    margin: 5px;
    margin-top: 7px;
  }
  
  .google {
    background-color: #dd4b39;
    color: white;
    text-decoration: none;
    margin-top: 7px;}

    .line {margin-top: 10px;}
    



