body {
  font-family: Arial, Helvetica, sans-serif;
 background-image: url('./imge/back.jpg'); 

}

* {
  box-sizing: border-box;
}

.container {
  position: relative;
  border-radius: 5px;
  padding: 20px 0 30px 0;
} 

input:hover,
.submit:hover {
  opacity: 1;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  width: 99%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none;
}
input[type=name] ,input[type=email]
{width: 49%;
padding-top: 15px;
border: none;}

.area{width: 99%;
height:200px ;
padding-bottom: 15px;
margin-top: 10px;
border: none;
}

.col {
  float: left;
  width: 30%; 
  margin-top: 6px;
  color: white;
  padding: 0 50px;
  font-size: 12px;
}
.contact {text-decoration: none;
color: white;}

.fa {
  padding: 20px;
  font-size: 40px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
 
}

.col1 {
  float:right;
  width: 70%;
  padding: 0 50px;
  margin-top: 6px;
  color: white;
  margin-right: 0px;
}
.row {color: white;
text-align: center;}

.hl {
  position: absolute;
  left: 50%;
  transform: translate(-100%,-100%);
  border: 2px solid #ddd;
  height: 2px;
  width: 60px;
  
}
.head {padding-top: 15px;}

.icon 
 {
  font-size: 50px;
  color:white  ;
  margin-top:50px;
}
.bi{color: white;}
