


.w-100 {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  
}

div.card 
{width:300px;
   
margin: 20px auto;
border: 1px solid white;
border-radius: 7px;
margin:auto;
} 

.bottom 
{display:block;
color: blue;
background-color:rgb(185, 213, 241);
 border-radius: 4px;
 text-decoration: none;
 font-size: 15px ;
 padding: 10px 100px 10px 100px;
 margin-top: 50px;
 margin: auto;
 width:fit-content;
 
}

div.card2
{padding: 20px;}