.w-100 {width: 100%;}

.contant {width: 1100px;;
max-width:100%;
margin:auto;
margin-top: 100PX 100PX 100PX 100PX;


}



.col{width:50%;
margin: auto;
margin-top: 70px;
}


 .row {display: flex;
    flex-wrap: wrap;
}



