.content
{width: 500px;
margin: auto;
max-width:100%;
margin-top: 70px;
color: white;
  padding: 7px 7px 7px 7px;

}


.text
{background-color: blue;
   text-align:center ;
   width:100%;
   padding: 7px 2px 7px 2px;
   margin-top: 20PX;


    

}
.content1
{width: 500px;
margin: auto;
margin-top: 20px;
max-width:100%;}

.inl1{
background-color: blue;

width:50%;
padding: 10px ;
margin: 5px;
text-align: center;


     }

.row1 {
    display:flex ;

}
.content2
{width: 500px;
margin: auto;
margin-top: 10px;
max-width:100%;}

.inl2{
background-color: blue;
text-align: center;
width:30%;
padding: 10px ;
margin: 5px;

     }

.row2 {
    display:flex;
}


.content3
{width: 500px;
margin: auto;
margin-top: 10px;
max-width:100%;
text-align: center;}

.inl3{
background-color: blue;

width:25%;
padding: 10px; ;
margin: 5px;

     }


.row3 {
    display:flex ;

}

